
{{#each events}}
    <div class="grid-item">
      <div id="{{id}}">
          {{!-- <a href="{{event_location}}" target="_blank" rel="noopener noreferrer"> --}}
          <p id="" class="waves-effect waves-light">{{client_name}}</p>
          <P id="">{{client_comment}}</p>
          <p id="">{{event_id}}</p>
        </a>
        
      </div>
    </div>
{{/each}}
<!-- Custom Script -->
  {{!-- <script src="../js/admin.js" type="text/javascript"></script> --}}
